

<p>Hi <%= @user.first_name %>,</p>

<p class="mail" >Bienvenue sur notre application !</p>

<p>Merci de rejoindre voici un rapide guide pour utiliser notre application</p>

<p>lorem</p>

<%= link_to "Le site", probings_url, target: "_blank", class:"btn btn-success" %>
<p>See ya!</p>
