

<div class="container-fluid">
  <div class="row">
    <p class="date"> <%= DateTime.now.strftime("Printed on %A %B %Y") %></p>
      <%= high_chart("current_user", @chart) %>
    </div>
  </div>
  <%= link_to "+", new_probing_path %>
</div>


