<div class="container-fluid">
  <div class="chart">
    <%= high_chart("current_user", @chart) %>
  </div>
  <div class="links">
    <%= link_to "➕ Ajouter un sondage", new_probing_path %>
    <%= link_to "📄 Télécharger PDF", pdf_path, target: '_blank' %>
  </div>
</div>

