

<div class="container-fluid">
  <div class="row">
      <%= high_chart("current_user", @chart) %>
    </div>
  </div>
  <%= link_to "➕ Add a probing", new_probing_path %>
</div>
<br>
<%= link_to "📄 Download PDF", pdf_path, target: 'blank' %>

