<!DOCTYPE html>
<html>
  <head>
    <title>Layout PDF</title>
    <meta charset="utf-8" />
    <%= wicked_pdf_javascript_include_tag 'vendor/assets/javascripts/highcharts/highcharts.js' %>
    <%= wicked_pdf_javascript_include_tag 'vendor/assets/javascripts/highcharts/modules/exporting.js' %>
  </head>
  <body>
    <div id="header"></div>
    <div class="principale">
      <%= yield %>
    </div>
  </body>
</html>
